<div class="error">
  <% if flash[:message] %>
  <h1><%= flash[:message] %></h1>
  <% end %>
</div>

<div class='site_container'>
</div>
<div class='info'>
  <div class="row">
  <div class="col-md-8">
    <%= image_tag @site.image.url(:large) %>
  </div>

  <div class="col-md-4">
  <h1><%= "#{@site.name}" %></h1>
  <h2><%= "#{@site.street_address}" %></h2>
  <h2><%= "#{@site.city}" %></h2>
  <h2><%= "#{@site.zip_code}" %></h2>
  <h2><%= "#{@site.contact_info}" %></h2>
  <h2><%= "#{@site.accessibility}" %></h2>
  <p><%= "#{@site.site_info}" %></p>
  </div>
  </div>




<div class="link-container">
  <% if current_user.sites.include?(@site) %>
    <h4><%= link_to "Edit this site", edit_site_path(@site) %></h4>
    <h4><%= link_to "Delete this site", site_path(@site), :confirm => "Are you sure?", :method => :delete %></h4>
  <% end %>
</div>
</div>
